first_project/target/debug/hello_world
first_project/target/debug/.fingerprint/hello_world-6fe45ed54bb56044/bin-hello_world
first_project/target/debug/.fingerprint/hello_world-6fe45ed54bb56044/dep-bin-hello_world
